<h1>Sous catégories</h1>

<h1>
  Choisissez une catégorie pour
  <%= @category.name %>
</h1>

<% @category.children.each do |category| %>
  <p>
    <%= link_to category.name, purpose_categories_path(@category.root_level.purpose, category.ancestors) %>
  </p>
<% end %>
